/* Import Google Fonts or specify local fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Apply fonts to specific elements */

  /* body, html{
    overflow-x: hidden;
  } */

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: black;
}

p {
  font-family: "Poppins", sans-serif;
  color: black
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 230, 230, .0);
}

.gradient-background {
  background: linear-gradient(to bottom, rgba(255, 230, 230, .1), rgba(255, 230, 230, .0));
  color: white;
  text-align: center;
  width: 80%;
}

.title {
  display: flex;
  flex-direction: row;
  padding-left: 71px;
}

.logo {
  transform: scale(1.1);
  /* Scale the image to 50% of its original size */
  padding-right: 17px;
  height: fit-content;
  margin-top: 60px;
}

.titlename {
  color: black;
  font-size: 60px;
  font-weight: 600; 
  margin-bottom: 0px;
  height: fit-content;
}

.header-content{
  margin-top: 0px;
  margin-left: 8%; 
  display: flex;
  flex-direction: row;
}

@media (max-width: 1200px) {
.header-content{
  margin-left: 10; 
  display: flex;
  flex-direction: row;
}
}

.header-tag {
  background-color:#FFE6E6;
  color: #FF2626;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: -20px;
  width: 275px;
  height: 45px;
  font-weight: 500;
  font-size: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.info-left {
  width: fit-content;
  margin-top: 60px;
  margin-top: 0px;
}
.first-row{
  margin: 0px;
  font-size: 61.25px;
  width: 500px;
}
.second-row-main {
  display: flex;
  flex-direction: row;
  gap: 7px;    
}

.second-row-with, .second-row-blaze {
  margin: 0px;
  font-size: 61.25px;
}

.second-row-blaze {
  color: #FF2626;
}

.sub-tag {
  color: #171717;
  text-align: left;
  width: 470px;
  line-height: 200%;
}
.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media(max-width: 600px){
  .header-buttons {
    flex-direction: column;
    margin-left: 15%;
    margin-top: 40px;
  }
  .sub-tag {
    width: 400px;
    text-align: center;
    margin-left: 8%;
  }

  .header-content {
    margin-left: 0%;
  }
  .first-row {
    font-size: 50px;
    margin-right: 20%;
    
  }
  .second-row-with {
    font-size: 50px;
  }
  .second-row-blaze {
    font-size: 50px;
  }

  .header-tag {
    display: none;
    margin: 0 auto; 
    margin-top: 0px;
  }

  .second-row-main {
    margin: 0 auto;
  }

  .title {
    margin-left: 13%;
  }

  .CTA1Bottom {
    margin: 0 auto;
    margin-left: 17.5%;
  }

  .CTA2 {
    margin-left: 11%;
    margin-bottom: 0%;
    margin-right: 0px;
    /* Add drop shadow */

  }

  .CTA2-text {
    font-size: 15px;
  }


}



@media(max-width: 600px){
  .safety-text {
    margin-left: 14%;
  }
  .safety-subtext {
    width: 400px;
    text-align: center;
    margin-left: 6%;
  }
  .CTA1Bottom {
    margin-left: 90px;
    margin-bottom: 90px;
  }


}




.CTA1 {
  display: flex;
  flex-direction: row;  
  background-color: #FF2626;
  border-radius: 30px;
  height: fit-content;
  width: 270px;
  border: none;
  padding: 20px;
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.CTA1Bottom {
  display: flex;
  flex-direction: row;  
  background-color: #FF2626;
  border-radius: 30px;
  height: fit-content;
  width: 270px;
  border: none;
  padding: 20px;
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.CTA1-text {
  color: white;
  font-size: 13.62;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
}

.CTA2 {
  display: flex;
  flex-direction: row;  
  background-color: white;
  border-radius: 30px;
  height: fit-content;
  border: none;
  padding: 13px;
  width: 250px;
  margin-bottom: 5%;
  margin-top: 0px;
  gap: 10px;
  padding-left: 22px;
  padding-right: 22px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */

}

.CTA2-text {
  font-size: 13.62;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;

}

.CTA1:hover {
  background-color: #ff4747;
  transform: scale(1.05); /* Grow slightly on hover */
}

.CTA2:hover {
  background-color: #f5f5f5;
  transform: scale(1.05); /* Grow slightly on hover */
}

.top-categories-title{
  font-weight: 700;
  font-size: 52px;
}

.top-categories {
  width: fit-content;
  justify-content: center;
}

@media (min-width: 1200px) {
.top-categories {
  margin-left: 15%;
}
.top-categories-container {
  display: flex;  
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
}
@media (max-width: 1200px) {

  .top-categories {
    margin-left: 22%;
  }

  .top-categories-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
}

.top-categories-item {
  width: 258px;
  height: 362px;
  border-color: #FFE6E6;
  border-width: 2px; 
  border-style: solid;
  border-radius: 31px;
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

@media (max-width: 490px) {
  .top-categories {
    margin-left: 20%;
  }
}

/* Apply animation to background color */
@keyframes backgroundFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #FF2626;
  }
}

/* Apply animation to box scaling */
@keyframes boxScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* Adjust the scale factor as needed */
  }
}

.top-categories-item:hover {
  animation: backgroundFade 0.3s ease forwards, boxScale 0.3s ease forwards; /* Animate background color and box scaling on hover */
  border-color: transparent; /* Remove border color on hover */
  filter: drop-shadow(rgba(255, 38, 38, 0.25) 0 15.56px 15px); /* Add drop shadow on hover */
}

.top-categories-item-title {
  font-weight: 600;
  font-size: 23.34px;
  transition: all 0.3s ease; /* Add transition for smooth text scaling */
}

/* Apply animation to title scaling */
@keyframes titleScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* Adjust the scale factor as needed */
  }
}

.top-categories-item:hover .top-categories-item-title {
  animation: titleScale 0.3s ease forwards; /* Animate text scaling on hover */
  color: white; /* Change title color on hover */
}


.image-items {
  width: 134px;
  border-radius: 600px;
  filter: drop-shadow(rgba(174, 174, 174, 0.25) 0 15.56px 15px);
  margin-top: 80px;
}

.image-items-cheeto {
  width: 134px;
  border-radius: 600px;
  filter: drop-shadow(rgba(174, 174, 174, 0.25) 0 15.56px 15px);
  margin-top: 80px;
}

.safety {
  margin: 10%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-direction: row;
}

.safety-left {
  width: fit-content;
  text-align: left;

}

.safety-text {
  font-weight: 700;
  font-size: 52px;
  margin-top: 100px;
}

.safety-subtext-container {
  width: 417px; 

}

.safety-subtext {
  line-height: 30px;
  font-weight: 400;
  font-size: 15.56px;
  color: #8B8B8B;
  margin-bottom: 60px;
}

.safety-right {
  margin-top: 80px;
  margin-left: 240px;
}


.ios {
  scale: .80;
  margin-left: 100px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 100px;
}

.footer {
  font-size: 13.62;
  font-weight: 500;
  color: #171717;
  text-align: center;
}
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styles */
form {
  margin-top: 20px;
}

input[type="email"] {
  width: 95.5%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #FF2626;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #FF2626;
}

.a {
  text-decoration: none;
}

/* Initially hide the infoPhone image */
.infoPhone {
  display: none;
}

.info-image {
  display: block;
  margin: 0 auto; /* Horizontally center the image */

}

/* Show the infoPhone image and hide the info image at 900px and above */
@media (max-width: 1100px) {
  .info-image {
    display: none;
    margin: 0 auto; /* Horizontally center the image */
  }

  .infoPhone {
    display: block;
    margin: 0 auto; /* Horizontally center the image */
  }
}


.picture-right {
  display: block;
  margin-left: 200px;
}

/* Hide the picture-right div and its contents at a screen width of 900px and below */
@media (max-width: 900px) {
  .picture-right {
    display: none;
  }
}

.deliveryImage {
  display: block;
}
@media (max-width: 700px) {
  .deliveryImage {
    display: none;
  }
}

.emailAdd {
  margin-top: 60px;
  margin: 15px;
  margin-left: 0px;
}

.enterEmail {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.emailSubtag {
  text-align: left;
  width: 350px;
}

.emailInputBox {
  margin: 0px; 
}


@media (max-width: 600px) {
  .emailAdd {
    margin-top: 30px;
  }
  
  .enterEmail {
    text-align: center;
  }
  
  .emailSubtag {
    text-align: center;
    margin-left: 60px;
  }
  
  input[type="email"] {
    width: 75.5%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: #FF2626;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

.displayContainer {
  text-align: left; /* Align content to the left */
  height: auto;
}

.display {
  display: inline-block; /* Ensure the image behaves as an inline-block element */
  vertical-align: middle; /* Align the image vertically in case there's other content */
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}
/* CSS for desktop (min-width: 768px) */
@media (min-width: 550px) {
  /* Hide the video on desktop */
  .displayContainer video {
    display: none;
  }

  /* Show the image on desktop */
  .displayContainer img {
    display: block;
    margin-bottom: 80px;
  }

  /* Adjust container size */
  .displayContainer {
    height: auto; /* Set height to auto */
    width: fit-content; /* Set width to auto */
    max-width: 100%; /* Set maximum width to 100% of the parent container */
  }
}

/* CSS for mobile (max-width: 767px) */
@media (max-width: 550px) {
  /* Hide the image on mobile */
  .displayContainer img {
    display: none;
  }

  /* Show the video on mobile */
  .displayContainer video {
    display: block;
  }

  /* Adjust container size */
  .displayContainer {
    height: auto; /* Set height to auto */
    width: 100px; /* Set width to auto */
    max-width: 100%; /* Set maximum width to 100% of the parent container */
  }

  .video {
    scale: 6;
    margin-top: 230px;
    margin-bottom: 330px;
    max-width: 100%;
    max-height: 100px;
    margin-left: 215px;
  }
}
